@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    border-top: 10px solid orangered;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.container{
    margin: 10px auto;
    width: 50%;
    /*border: 3px solid green;*/
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 5px 2px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h1 {
    font-size: 45px;
    padding-right: 33.7%;


}

.signInClass {
    position: relative;

}

h1 a {
    color: inherit;
    text-decoration: inherit;
}

.article1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 3px solid yellow;*/
    padding: 5px 2px;
    margin-bottom: 25px;
}
.article2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 3px solid palegreen;*/
    padding: 5px 2px;
    margin-bottom: 25px;
}
.article1 p{
    text-align: left;
    margin-left: 10px;
    line-height: 30px;
    margin-top: 25px;
}

.article2 p{
    text-align: left;
    margin-left: 10px;
    line-height: 30px;
}

#redPresent1{
    width: 25%;
    height: auto;
    margin-top: 25px;
    padding-right: 40px;
}

#redPresent2{
    width: 25%;
    height: auto;
}

.header h1{
    width: 55%;
}

.header input{
    width: 100px !important;
    height: auto;
    margin: auto 10%;
}

.signin-page, .signup-page {
    width: 300px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button, .header form input {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: orangered;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.emailValidator{
    color: red;
    padding-bottom: 10px;
    font-size: 14px;
}

.form button:hover,.form button:active,.form button:focus {
    background: #cc3700;
}

.signInClass:hover,.signInClass:active,.signInClass:focus {
    background: #cc3700;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: orangered;
    text-decoration: none;
}

footer{
    text-align: center;
    margin-bottom: 15px;
}