@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: "Roboto", sans-serif;
    border-top: 10px solid orangered;
}

.container{
    margin: 10px auto;
    width: 50%;
    border: 3px solid green;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    padding: 5px 2px;
    margin-bottom: 25px;
}

.article1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid yellow;
    padding: 5px 2px;
    margin-bottom: 25px;
}
.article2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid palegreen;
    padding: 5px 2px;
    margin-bottom: 25px;
}
.article1 p{
    text-align: left;
    margin-left: 10px;
    line-height: 30px;
}

.article2 p{
    text-align: left;
    margin-left: 10px;
    line-height: 30px;
}

#redPresent1{
    width: 25%;
    height: auto;
}

#redPresent2{
    width: 25%;
    height: auto;
}

.header h1{
    width: 55%;
}

.header input{
    width: 100px !important;
    height: auto;
    margin: auto 10%;
}

.login-page {
    width: 300px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button, .header form input {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: orangered;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #cc3700;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: orangered;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
/*.login-page {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}*/
/*.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}*/
/*body {
    !*background: #76b852;*!
    background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

footer{
    text-align: center;
}