<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:if="${user != null}" th:text="${user.getName()}"></title>
</head>
<body>
    <div class="header" th:fragment="header_fragment">
        <h1><a th:href="@{/}"> MAKE A WISH LIST </a></h1>
        <form class="welcomeMessage" th:if="${user != null}" th:text="${user.getName()}"></form>
        <form th:unless="${user != null}"></form>
        <form method="GET" action="/signin">
            <input class="signInClass" th:if="${user != null}" th:text="Sign up"></input>
            <form th:unless="${user != null}"></form>
            <input class="signInClass" type="submit" value="Sign in">
        </form>
    </div>
</body>
</html>