<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <h1><a th:href="@{/}"> MAKE A WISH LIST </a></h1>
            <form action="/">
                <input class="signInClass" type="submit" value="Home">
            </form>
        </div>
        <div class="signin-page">
            <div class="form">
                <form class="signin-form" method="POST" action="/signedin">
                    <input name="emailSignIn" type="text" placeholder="email"/>
                    <input name="passwordSignIn" type="password" placeholder="password"/>
                    <button type="submit">login</button>
                    <p class="message">Not registered? <a th:href="@{signup}">Create an account</a></p>
                </form>
            </div>
        </div>
    </div>
<footer>copyright©</footer>
</body>
</html>