<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
    <div class="container">
        <!--<h1>MAKE A WISH LIST</h1>-->


        <div class="header">
            <h1>MAKE A WISH LIST</h1>
            <form action="/">
                <input type="submit" value="Home">
            </form>
        </div>
        <div class="article1">
            <img id="redPresent1" src="../static/images/redPresent.png" th:src="@{images/redPresent.png}" alt="red present">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris et nisl neque. Cras malesuada porttitor elit.
                Fusce viverra iaculis elit, a varius metus egestas nec.
                Morbi tincidunt eros ut dui tempus scelerisque.
                Praesent id pretium nulla. Curabitur congue,
                velit in vehicula sollicitudin, magna ante auctor enim,
                non eleifend elit mauris eu eros. Integer magna erat, mollis eget nulla in, tincidunt vestibulum eros.</p>
        </div>
        <div class="article2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris et nisl neque. Cras malesuada porttitor elit.
                Fusce viverra iaculis elit, a varius metus egestas nec.
                Morbi tincidunt eros ut dui tempus scelerisque.
                Praesent id pretium nulla. Curabitur congue,
                velit in vehicula sollicitudin, magna ante auctor enim,
                non eleifend elit mauris eu eros. Integer magna erat,
                mollis eget nulla in, tincidunt vestibulum eros.</p>
            <img id="redPresent2" src="../static/images/redPresent.png" th:src="@{images/redPresent.png}" alt="red present">
        </div>
    </div>
<footer>copyright©</footer>
</body>
</html>