<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in</title>
  <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
<div class="container">
  <!--<h1>MAKE A WISH LIST</h1>-->
  <div class="header">
    <h1>MAKE A WISH LIST</h1>
    <form action="/">
      <input class="signInClass" type="submit" value="Home">
    </form>
  </div>
  <div class="signup-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a th:href="@{signin}">Sign In</a></p>
        <!--<p class="message">Not registered? <a th:href="@{signup}">Create an account</a></p>-->
      </form>
    </div>
  </div>
</div>
<footer>copyright©</footer>
</body>
</html>