<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in</title>
  <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
<div class="container">
  <!--<h1>MAKE A WISH LIST</h1>-->
  <div class="header-wrapper">
    <div class="header">
      <h1><a th:href="@{/}"> MAKE A WISH LIST </a></h1>
      <form action="/">
        <input class="signInClass" type="submit" value="Home">
      </form>
    </div>
  </div>
  <div class="signup-page">
    <div class="form">
        <form class="signup-form" method="POST" action="/signedup">
          <input name="usernameSignUp" type="text" placeholder="username" required/>
          <input name="passwordSignUp" type="password" placeholder="password" required/>
          <input name="emailSignUp" type="text" placeholder="email address" required/>
          <p class=emailValidator th:if="${count >= 1}">Invalid email</p>
          <button type="submit">create</button>
          <p class="message">Already registered? <a th:href="@{signin}">Sign In</a></p>
        </form>
    </div>
  </div>
</div>
<footer>copyright©</footer>
</body>
</html>